<div ng-controller="profileCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome Rescuing Leftover Cuisine Admin</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{donorCount}}</div>
                            <div>Pending Profiles!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= @unapproved_pickups.count %></div>
                            <div>New Pickup Requests!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> <%= link_to 'Pending Donor Profiles', profiles_path %>
                </div>
                <!-- /.panel-heading First Table -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" >
                                <table class="table table-responsive table-bordered table-hover table-striped scroll">
                                    <thead>
                                      <tr>
                                          <th>Profile Submitted On</th>
                                          <th>Business Name</th>
                                          <th>Donor Type</th>
                                          <th>Contact Name</th>
                                          <th>Phone</th>
                                          <th>Email</th>
                                          <th>Address</th>
                                          <th>Status</th>
                                      </tr>
                                    </thead>
                                    <tbody ng-init="getProfiles()">
                                      <tr class="odd gradeX" ng-repeat='donor in unapprovedDonors'>
                                        <td>{{donor.created_at | date:'shortDate'}}</td>
                                        <td><a href="/profiles/{{donor.id}}">{{donor.business_name}}</a></td>
                                        <td>{{donor.type_of_donor}}</td>
                                        <td>{{donor.contact_name}}</td>
                                        <td>{{donor.phone_number}}</td>
                                        <td>{{donor.email}}</td>
                                        <td>{{donor.address}}</td>
                                        <td class='btn btn-warning' ng-click="toggleApprove(donor)"> {{"Pending - Click to Approve"}}</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                      </div>
                        <!-- /.col-lg-4 (nested) -->

                  </div>
                    <!-- /.col-lg-8 (nested) -->

              </div>
            <!-- /.panel -->
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Negotiable Profiles
                </div>
                <!-- /.panel-heading First Table -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" >
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                      <tr>
                                          <th>Profile Submitted On</th>
                                          <th>Business Name</th>
                                          <th>Donor Type</th>
                                          <th>Contact Name</th>
                                          <th>Phone</th>
                                          <th>Email</th>
                                          <th>Address</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% @negotiable_profiles.each do |donor| %>
                                      <tr class="odd gradeX" >
                                        <td><%= donor.created_at %></td>
                                        <td><%= link_to "#{donor.business_name}", "/donor/#{donor.id}/negotiate" %></td>
                                        <td><%= donor.type_of_donor %></td>
                                        <td><%= donor.contact_name %></td>
                                        <td><%= donor.phone_number %></td>
                                        <td><%= donor.email %></td>
                                        <td><%= donor.address %></td>
                                      </tr>
                                      <% end %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                      </div>
                        <!-- /.col-lg-4 (nested) -->

                  </div>
                    <!-- /.col-lg-8 (nested) -->

              </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Pending Pickup Requests
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Picture</th>
                                            <th>Description</th>
                                            <th>Quantity</th>
                                            <th>Start time</th>
                                            <th>End time</th>
                                            <th>Location</th>
                                            <th>View Request</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-init="adminFoodPickups()">
                                        <tr class="odd gradeX" ng-repeat='pickup in unapprovedPickups'>
                                            <td><img src="{{pickup.picture.url}}"></img></td>
                                            <td>{{pickup.description}}</td>
                                            <td>{{pickup.quantity}}</td>
                                            <td>{{pickup.start_time | date:'short'}}</td>
                                            <td>{{pickup.end_time | date:'short'}}</td>
                                            <td>{{pickup.location}}</td>
                                            <td><a href="/food_pickups/{{pickup.pickup_id}}/edit" class="btn btn-primary"> View </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <!-- /.col-lg-8 (nested) -->
                    </div> <!-- /.row -->
                </div> <!-- /.panel-body -->
            </div> <!-- /.panel-default -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Approved Pickup Requests
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Picture</th>
                                            <th>Description</th>
                                            <th>Quantity</th>
                                            <th>Start time</th>
                                            <th>End time</th>
                                            <th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-init="adminFoodPickups()">
                                        <tr class="odd gradeX" ng-repeat='pickup in approvedPickups'>
                                            <td><img src="{{pickup.picture.url}}"></img></td>
                                            <td>{{pickup.description}}</td>
                                            <td>{{pickup.quantity}}</td>
                                            <td>{{pickup.start_time | date:'short'}}</td>
                                            <td>{{pickup.end_time | date:'short'}}</td>
                                            <td>{{pickup.location}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <!-- /.col-lg-8 (nested) -->
                    </div> <!-- /.row -->
                </div> <!-- /.panel-body -->
            </div> <!-- /.panel-default -->

        </div>

          <div class="panel panel-default">
              <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Shelter Locations
              </div>
              <!-- /.panel-heading -->

              <div class="panel-body" ng-controller="sheltersCtrl">
                <div class="alert col-sm-4" ng-class="{'alert-danger': error, 'alert-success': success}" role="alert">
                  {{error}}
                  {{success}}
                </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-hover table-striped">
                                  <thead>
                                      <tr>
                                        <div class="alert alert-success hide" id="shelter">
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                      </tr>
                                      <tr>
                                        <td><input type="text" class="form-control" ng-model="newShelter.name" placeholder="Shelter Name"></td>
                                        <td><input type="text" class="form-control" ng-model="newShelter.address" placeholder="Shelter Address"></td>
                                        <td><input type="text" class="form-control" ng-model="newShelter.phone_number" placeholder="Shelter Phone#"></td>
                                        <td><input type="text" class="form-control" ng-model="newShelter.email" placeholder="Shelter Email"></td>
                                        <td><button  ng-click='addShelter(newShelter)'>Create Shelter</button></td>
                                      </tr>
                                  </thead>
                                  <tbody ng-init="allShelters()">
                                      <tr class="odd gradeX" ng-repeat='shelter in shelters'>
                                          <td>{{shelter.name}}</td>
                                          <td>{{shelter.address}}</td>
                                          <td>{{shelter.phone_number}}</td>
                                          <td>{{shelter.email}}</td>
                                          <td><button ng-click="removeShelter($index)">Delete shelter</button></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!-- /.table-responsive -->
                      </div>
                      <!-- /.col-lg-4 (nested) -->
                      <!-- /.col-lg-8 (nested) -->
                  </div> <!-- /.row -->
              </div> <!-- /.panel-body -->


          </div> <!-- /.panel-default -->

            <!-- /.panel -->

            <!-- /.panel -->
        <!-- /.col-lg-8 -->

            <!-- /.panel -->

            <!-- /.panel -->

            <!-- /.panel .chat-panel -->

        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
