<%= form_tag("/pickup/#{@food_pickup.id}/edit", method: "patch") do %>

<div class="field">
  <%= label_tag :contact_name %><br />
  <%= text_field_tag :contact_name, current_donor.contact_name %>
</div>

<div class="field">
  <%= label_tag :location %><br />
  <%= text_field_tag :location, current_donor.address %>
</div>

<div class="field">
  <%= label_tag :phone_number %><br />
  <%= text_field_tag  :phone_number, current_donor.phone_number %>
</div>


<div class="field">
  <%= label_tag "Earliest Pick-up Time:" %><br />
  <%= datetime_field_tag :start_time %>
</div>

<div class="field">
  <%= label_tag "Latest Pick-up Time:" %><br />
  <%= datetime_field_tag :end_time %>
</div>

<div class="field">
  <%= label_tag "Reoccurs:" %><br />
  <%= select_tag "reoccurrence", options_for_select(["None", "Daily", "Weekly", "Monthly", "Yearly"]) %>
</div>

<div class="field">
  <%= label_tag "You will be charged #{number_to_currency(current_donor.charge)}" %>
</div>

  <%= submit_tag "Approve" %>
<% end %>
