<%= form_tag(food_pickups_path, method: "post", multipart: true, class: "fullPageHeight") do %>

<div class="field">
  <%= label_tag :picture %><br />
  <%= file_field_tag :picture %>
</div>

<div class="field">
  <%= label_tag :description %><br />
  <%= text_field_tag :description, @food_pickup.description %>
</div>

<div class="field">
  <%= label_tag :quantity %>(lbs)<br />
  <%= number_field_tag :quantity, @food_pickup.quantity %>
</div>

<div class="field">
  <%= label_tag :contact_name %><br />
  <%= text_field_tag :contact_name, current_donor.contact_name %>
</div>

<div class="field">
  <%= label_tag :location %><br />
  <%= text_field_tag :location, current_donor.address %>
</div>

<div class="field">
  <%= label_tag :phone_number %><br />
  <%= text_field_tag  :phone_number, current_donor.phone_number %>
</div>


<div class="field">
  <%= label_tag "Earliest Pick-up Time:" %><br />
  <%= datetime_field_tag :start_time, @food_pickup.start_time.strftime("%Y-%m-%dT%I:%M:%S") %>
</div>

<div class="field">
  <%= label_tag "Latest Pick-up Time:" %><br />
  <%= datetime_field_tag :end_time, @food_pickup.end_time.strftime("%Y-%m-%dT%I:%M:%S") %>
</div>

<div class="field">
  <%= label_tag "Reoccurs:" %><br />
  <%= select_tag "reoccurrence", options_for_select(["None", "Daily", "Weekly", "Monthly", "Yearly"]) %>
</div>

<% if current_donor.type_of_donor == "Event Company" %>
<div class="field" onchange="recalculateTotal()">
  <%= label_tag "Number of guests that attended the event:" %>
  <%= number_field_tag :charge, nil, min: 100, id: "charge" %>
</div>
<% end %>

<div class="field">
  <%= label_tag "You will be charged #{number_to_currency(current_donor.charge)}", nil , id: "costField" %>
</div>

<%= submit_tag "Submit", class: "btn btn-primary" %>

<% end %>
