<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <!-- <label class="amount">
      <span>Amount: $5.00</span>
    </label> -->
    <div class="amount">
      <%= label_tag "Amount:" %><br />
      <span><%=number_to_currency(current_donor.charge)%></span>
    </div>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= current_donor.charge * 100 %>"
          data-locale="auto"></script>
<% end %>
