<!DOCTYPE html>
<html>
  <head>
    <title>FoodPickupApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3 class="notice"><%= notice %></h3>
    <h3 class="alert"><%= alert %></h3>
    <%= yield %>
  </body>
</html>
